
body {
    display: flex;
    flex-direction: column;
    background-image: url(./close-up-wool-texture-design\ cream.jpg);
    background-size: cover;
    text-align: center;
}

#header {
    display: flex;
    justify-content: center;
}

#headerLogo {
    height: 300px;
    align-items: center;
    justify-self: center;
}

#mainName {
    color: rgb(73, 31, 1);
    font-size: 650%;
    font-family: "Caveat Brush";
}

@media (max-width: 768px) {
    #header {
        height: 300px;
    }
    #mainName {
        font-size: 400%;
    }
}

@media (max-width: 992px) {
    #mainName {
        font-size: 480%;
    }
}

.quilt-container {
  display: grid;
  align-self: center;
  grid-template-columns: repeat(7, 250px); /* Adjust for number of columns */
  grid-template-rows: repeat(7, 250px);
  gap: 2px; /* Optional: simulates seam lines */
  background-color: transparent;
}

.patch {
  width: 250px;
  height: 250px;
}

.color-a { 
    background-image: url(./fabric-texture-background.jpg);
    background-size: cover;
    border: 3px solid rgba(209, 192, 179, 0.685);
}

.color-b { 
    background-image: url(./close-up-detail-cozy-clothing-texture.jpg);
    background-size: cover;
    border: 3px solid rgba(209, 192, 179, 0.685);
}


@media (max-width: 768px) {
    .quilt-container {
        grid-template-columns: repeat(3, 117px);
        grid-template-rows: repeat(3, 117px);
        gap: 0px;
    }
    .patch {
        width: 117px;
        height: 117px;
    }
}

@media (min-width: 769px) and (max-width: 992px) {
    .quilt-container {
        grid-template-columns: repeat(5, 150px);
        grid-template-rows: repeat(5, 150px);
        gap: 0px;
    }
    .patch {
        width: 150px;
        height: 150px;
    }
}

@media (min-width: 993px) and (max-width: 1600px) {
    .quilt-container {
        grid-template-columns: repeat(5, 197px);
        grid-template-rows: repeat(5, 197px);
        gap: 0px;
    }
    .patch {
        width: 197px;
        height: 197px;
    }
}

@media (min-width: 1601px) and (max-width: 1700px) {
    .quilt-container {
        grid-template-columns: repeat(5, 260px);
        grid-template-rows: repeat(5, 260px);
        gap: 0px;
    }
    .patch {
        width: 260px;
        height: 260px;
    }
}


#footer {
    display: flex;
    flex-direction: row;
    gap: 5px;
    background-color: rgba(182, 138, 122, 0.664);
    width: 99vw;
    margin-top: 1%;
    text-align: center;
    justify-content: center;
    align-self: center;
    align-items: center;
}

.name {
    color:bisque;
    font-family: "Caveat Brush";
    font-size: 150%;
}
