.page-commissions {
            display: flex;
            flex-direction: column;
            background-color: #ba8cbe;
            background-size: cover;
            text-align: center;
        }.page-commissions #header {
            display: flex;
            justify-content: center;
        }.page-commissions #headerLogo {
            height: 300px;
            align-items: center;
            justify-self: center;
        }.page-commissions #mainName {
            color: #fffcd1;
            font-size: 650%;
            font-family: "Lilita One", bold;
        }

        @media (max-width: 992px) {.page-commissions #mainName {
                font-size: 480%;
            }
        }.page-commissions .quilt-container {
            display: grid;
            align-self: center;
            grid-template-columns: repeat(5, 350px); /* number of columns */
            grid-template-rows: repeat(5, 350px);
            gap: 2px; /* simulates seam lines */
            background-color: transparent;
        }.page-commissions .patch {
            width: 350px;
            height: 350px;
        }.page-commissions .color-a { 
            background-color: #ffa7b8;
            background-size: cover;
            border: 3px solid #ffc107;
        }.page-commissions .color-b { 
            background-color: #9172a2;
            background-size: cover;
            border: 3px solid #ffc107;
        }

        /* mobile screens */
        @media (max-width: 768px) {.page-commissions #headerLogo {
                height: 100px;
            }.page-commissions #mainName {
                margin-top: 1%;
                font-size: 250%;
            }.page-commissions .quilt-container {
                grid-template-columns: repeat(3, 117px);
                grid-template-rows: repeat(3, 117px);
                gap: 0px;
                border-bottom: 3px solid #ffc107;
                border-right: 3px solid #ffc107;
                box-sizing: border-box;
            }.page-commissions .patch {
                width: 117px;
                height: 117px;
                border-radius: 0 !important;
                border-top: 3px solid #ffc107 !important;
                border-left: 3px solid #ffc107 !important;
                border-right: none !important;
                border-bottom: none !important;
                box-sizing: border-box;
            }.page-commissions #last {
                display: none;
            }
        }

        @media (min-width: 769px) and (max-width: 992px) {.page-commissions .quilt-container {
                grid-template-columns: repeat(5, 150px);
                grid-template-rows: repeat(5, 150px);
            }.page-commissions .patch {
                width: 150px;
                height: 150px;
            }
        }

        @media (min-width: 993px) and (max-width: 1600px) {.page-commissions .quilt-container {
                grid-template-columns: repeat(5, 197px);
                grid-template-rows: repeat(5, 197px);
                gap: 0px;
            }.page-commissions .patch {
                width: 197px;
                height: 197px;
            }
        }

        @media (min-width: 1601px) and (max-width: 1700px) {.page-commissions .quilt-container {
                grid-template-columns: repeat(5, 260px);
                grid-template-rows: repeat(5, 260px);
                gap: 0px;
            }.page-commissions .patch {
                width: 260px;
                height: 260px;
            }
        }.page-commissions #footer {
            width: 100%;
            text-align: center;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: row;
        }.page-commissions #footer p {
            font-size: 160%;
            color: #1f1a32;
            text-shadow: 2px 2px 4px #4f2962;
            font-family: "Lilita One", bold;
        }

        @media (max-width: 768px) {.page-commissions #footer span {
                font-size: 120%;
            }.page-commissions #footerLogo {
                display: none;
            }
        }

    